body {
    background-color: #ADA3E0;
    footer {
        background-color: #ADA3E0;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 40px;
        color: #A3E0AD
    }
}